#list-planets {
    text-align: center;
    margin: auto;
}

.box {
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    border: 1px solid #444;
    background-image: url("../../../../public/assets/146054-OTSKBF-217.jpg");
    background-size: cover;
    background-position: 0 -90px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.1s;
    box-shadow: 10px 6px rgba(0, 0, 0, 0.4);
    z-index: 99;
}

.box:active {
    position: relative;
}

.box:hover {
    transform: scale(1.2);
    box-shadow: 20px 20px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1024px) {
    #list-planets {
        margin: 0;
    }
}

@media (max-width: 760px) {
    ul.navbar li a {
        font-size: 1rem;
    }

    .box {
        margin: 20px 40px;
    }

    .list-box {
        width: 150%;
    }
}