.bg-detail {
    background-image: url('../../../../public/assets/4Z_2101.w017.n001.333A.p30.333-min.jpg');
    background-size: cover;
    position: fixed;
}

.title {
    text-align: center;
    padding: 30px 0;
}

.content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.content>ul {
    color: white;
    padding: 0;
}

.content>ul li {
    list-style: none;
    font-size: 2rem;
}

@media (max-width: 760px) {
    .content {
        margin: 0;
        width: 100%;
    }

    .content>ul>li {
        font-size: 1rem;
    }
}