.bg-content {
    background-image: url('../../../../public/assets/2293.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    position: static;
}

nav {
    display: flex;
    flex-direction: row;
}

#logo {
    width: 50%;
    padding: 5px;
    margin: 15px 25px;
    color: white;
}

ul.navbar {
    display: flex;
    flex-direction: row;
}

ul.navbar li {
    list-style: none;
    margin: 0 15px;
}

ul.navbar li>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    padding: 5px;
    border: 2px solid #444;
}

ul.navbar li>a:hover {
    background-color: aqua;
}

h1 {
    margin: 0;
    padding: 0;
}

@media (max-width: 760px) {
    nav {
        display: inline;
    }

    #logo {
        margin: 0;
    }
}