.bg-wishlist {
    background-image: url('../../../../public/assets/2293.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100%;
}

.card {
    height: 200px;
    background-color: rgba(95, 94, 94, 0.5);
    border: 4px solid rgba(145, 145, 145, 0.129);
    border-radius: 6px;
    padding: 10px;
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 20px;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.wishlist-content {
    color: white;
    width: 100%;
}

.text-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    color: white;
    gap: 5px;
    width: 100%;
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
        height: auto;
    }

    .bg-wishlist {
        height: 111vh;
    }
}